.header__square-pic {
    width: 568px;
    height:568px;
    background-color:#2F80ED;
    position: absolute;
    top: 32px;
    right:0;
    z-index: -1;
    transform: rotate(-15deg);
    overflow: hidden;
    animation: rotacion linear 20s infinite;
    /* animation-duration: 20s; */

    /* background-size: contain; */
  }