.khan{
    padding-top: 105px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    background:#F2F2F2;
    overflow: hidden;
  }