.video{
    margin: 100px auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    overflow: visible;
  }