.kaufman__triangle{
    width: 660px;
    height: 636px;
    display: flex;
    position: absolute;
    right: -124px;
    z-index: -2;
    overflow: hidden;
    animation: rotacion linear 20s infinite;
  }