.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
 }

.header {
  width: 100vw;
  min-height: 600px;
  max-height: 756px;
  /* background-size: contain; */
  display:flex;
  /* display: block; */
  position:relative;
  flex-direction:column;
  flex: wrap;
  justify-content:space-between;
  z-index: 0;
  background-color: #F2F2F2;
  /* parameters for the header section */
}

.logo_place_header{
  width:154px;
  height: 31px;
  position:absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  position:absolute;
  left:64px;
  align-items: center;  
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
  /*Utiliza flexbox para centrar el elemento verticalmente y la
propiedad para desplazarlo hacia la derecha.
Asegúrate de que aparece delante de cualquier imagen o fondo
en las pantallas más pequeñas.*/
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left:64px;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  text-align: left;
}

.header__link{
text-decoration: none;
color:#2F80ED ;
position:absolute;
left:64px;
bottom: 0;
font-size: 18px;
font-weight: normal;
z-index: 3;
text-align: left;
}

.header__main-illustration{
  position: absolute;
  right: 64px;
  bottom: 0;
  /* background-size: contain; */
  width: 756px;
  height:608px;
  /* left:0; */
  z-index: 2;
  }

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  width: 568px;
  height:568px;
  background-color:#2F80ED;
  position: absolute;
  bottom: 64px;
  right:0;
  z-index: -1;
  /* background-size: contain; */

}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description{
  padding: 100px 0 ;
  width: 100vw;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction:row; 
  justify-content:space-between;
}

.two-columns{
  display: flex;
  left: 64px;
  width:80%
}

.two-columns_brief{
  width: 20%;
  line-height: 1.2px;
  font-size: 18px;
  font-weight: normal;
  color:#2F80ED ;
}

.two-columns_main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction:column; 
  justify-content:space-between;
}

.two-columns_paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_paragraph:nth-child(1n) {
  padding: 30px;
}

.two-columns_span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}