.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
 }

.header {
  width: 100vw;
  min-height: 600px;
  max-height: 756px;
  /* background-size: contain; */
  display:flex;
  /* display: block; */
  position:relative;
  flex-direction:column;
  flex: wrap;
  justify-content:space-between;
  z-index: 0;
  background-color: #F2F2F2;
  /* parameters for the header section */
}

.logo_place_header{
  width:154px;
  height: 31px;
  position:absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  position:absolute;
  left:64px;
  align-items: center;  
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
  /*Utiliza flexbox para centrar el elemento verticalmente y la
propiedad para desplazarlo hacia la derecha.
Asegúrate de que aparece delante de cualquier imagen o fondo
en las pantallas más pequeñas.*/
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left:64px;
  bottom: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
  text-align: left;
}

.header__link{
text-decoration: none;
color:#2F80ED ;
position:absolute;
left:64px;
bottom: 0;
font-size: 18px;
font-weight: normal;
z-index: 3;
text-align: left;
}

.header__main-illustration{
  position: absolute;
  right: 64px;
  bottom: 0;
  /* background-size: contain; */
  width: 756px;
  height:608px;
  /* left:0; */
  z-index: 2;
  }

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  width: 568px;
  height:568px;
  background-color:#2F80ED;
  position: absolute;
  bottom: 64px;
  right:0;
  z-index: -1;
  /* background-size: contain; */

}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description{
  padding: 100px 0 ;
  padding-left: 64px;
  width: 100vw;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction:row; 
  justify-content:space-between;
  position: relative;
  align-items: center;
  text-align:left;
}

.two-columns{
  display: flex;
  padding-left: 64px;
  width: 100vw;
}

.two-columns_brief{
  width: 30%;
  line-height: 1.2px;
  font-size: 18px;
  font-weight: normal;
  color:#2F80ED ;
}

.two-columns_main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction:column; 
  justify-content:space-between;
}

.two-columns_paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: justify;
}

.two-columns_paragraph:nth-child(1n) {
  padding: 30px 60px;
}

.two-columns_span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits{
  padding: 100px 40px auto;
  width: 100vw;
  display: flex; 
  flex-direction: column;
  justify-content:stretch;
  align-items: center;
  /* align-content: center; */

}

.section-title{
width: 60%;
line-height: 1.15;
font-size: 60px;
font-weight: bold;
display: flex; 
justify-content:center;
}

.section-subtitle{
width: 60%;
padding-top: 20px;
line-height: 34px;
font-size: 24px;
font-weight: normal;
display: flex; 
justify-content:center;
}

.table{
  padding-top: 60px;
  padding-bottom: 20px;
  list-style-type: none;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content:stretch;
}

/* .table::nth-child(1n) {
  padding-bottom: 60px;
}  */

.table__cell{
  width: 250px;
  height: 20px;
  list-style-type: none;  
  text-align: left;
}

.table__cell_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_span::before { 
  content: '\A \A'; 
  white-space: pre;
}

/* .table__cell_heading::before { 
  content: '\A \A'; 
  white-space: pre;
} */

.table__cell_text::after { 
  content: '\A \A'; 
  white-space: pre;
}

.feynman{
  width: 100vw;
  height: 790px;
  padding-top: 100px;
  display: flex;
  flex-direction:column;
  align-items: center;
  position: relative;
} 

.feynman__title{
width: 775px;
line-height: 1.15;
font-size: 120px;
font-weight: bold;
display: flex;
justify-content:center;
z-index: 3;
padding-bottom: 70px;
text-align: center;
}

.feynman__subtitle{

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: flex;
  justify-content:center;
  z-index: 3;
  
}

.feynman__link{

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
  position: absolute;
  top:50%;
  right:48px;
}

.feynman__image{
  width: 867px;
  height: 637px;
  z-index: 2;
  position: absolute;
  left:0;
  bottom: 0;
}